* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #F4F5F7;
}
.nawbar {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nawbar > div {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nawbar > div:hover {
  background-color: rgba(172, 168, 168, 0.493);
  border-radius: 10px;
}

.nawbar > div > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.header {
  width: 100vw;
  height: auto;
}

.head_left {
  position: relative;
  width: 100%;
  height: 580px;
}

.titles {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  font-size: 50px;
  z-index: 99;
}

.head_card {
  position: absolute;
  left: 0;
  bottom: 8%;
  width: 670px;
  height: auto;
  padding: 3rem;
  background-color: #4E0F8A;
  color: white;
  font-size: 25px;
  z-index: 99;
  line-height: 40px;
}

.sub {
  color: #4E0F8A;
}

.head_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 87%;
  background-color: rgba(209, 206, 206, 0.356);
}

.head_right {
  position: relative;
  /* background-color: green; */
  height: 500px ;
}



.card_girl {
  position: absolute;
  top: -10%;
  left: 20%;
  width: 600px;
}


.girl{
  object-fit: cover;
  height: 550px ;
  /* background-color: red; */
}









.sect_1 {
  font-size: 30px;
  color: #4E0F8A;
}

.sect_2 {
  font-size: 20px;
  display: flex;
  justify-content: end;
  color: #4E0F8A;
}

.first {
  font-size: 65px;
}

.for_width {
  width: 580px;
}












.section2 {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 2rem 0 17rem 0;
  /* background-color: red; */
}

.sec2_bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ECF0F3;
  width: 50%;
  height: 84%;
  z-index: -99;
}

.sect2_left_static {
  width: 200px;
  margin: 0 2rem 0 0 ;
  padding: 0.5rem;
  background-color: #4E0F8A;
  color: white;
}

.set2_left {
  margin-top: 75%;
}


.set2_left2 {
  margin-top: 41%;
}





.sect2_left_static2 {
  width: 200px;
  height: 178px;
  margin-right: 2rem;
  padding: 0.5rem;
  background-color: #8a2de093;
  color: white;
  display: flex;
  align-items: center;
}

.left_col6_card {
  width: 100%;
  height: 450px;
  padding: 1rem;
  align-items: baseline;
}


.sect2_left_statics {
  width: 200px;
  margin: 0 1rem 0 0 ;
  padding: 0.5rem;
  background-color: #4E0F8A;
  color: white;
}

.sect2_left_statics2 {
  width: 200px;
  margin: 0 1rem 0 0 ;
  padding: 0.5rem;
  background-color: #6c34a0;
  color: white;
}

.sect2_left_static3 {
  width: 200px;
  height: 270px;
  margin-right: 2rem;
  padding: 0.5rem;
  background-color: #8a2de093;
  color: white;
  display: flex;
  align-items: center;
}

.sect2_col4 {
  position: relative;
}


.sect2_imgcard {
  position: absolute;
  top: 20.2%;
  left: -60%;
  width: 700px;
  /* background-color: red; */
}

.sect2_imgcard > img {
  object-fit: cover;
}

















.section3 {
  width: 100vw;
  height: auto;
  /* background-color: green; */
}

.sect3_left {
  /* background-color: red; */
  height: 500px;
}

.sect3_right {
  height: 500px;
  display: grid;
  place-items: center;
  padding-top: 8rem ;
}

.section_image {
  width: 100vw;
  height: auto;
  position: relative;
}

.sect_img_bg {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: #ECF0F3;
  width: 75%;
  height: 90%;
  z-index: -99;
}


.rectangle {
  width: 20px;
  height: 20px;
  background-color: #4E0F8A;
}

.rectangle2 {
  width: 20px;
  height: 20px;
  background-color: #ECF0F3;
}

.card_tel {
  position: relative;
}












.section_contact {
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100vw;
  background-image: url('./assets/contact_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.contact {
  width: 1200px;
  height: 400px;
  z-index: 999;
  position: relative;
}


.contact_card {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  background-color: #ECF0F3;
  padding: 3rem;
}

.button {
  background-color: #4E0F8A;
  color: white;
}


@media (max-width:1440px) {
  .set2_left2 {
    margin-top: 48%;
  }
  .set2_left {
    margin-top: 88%;
  } 

  .contact {
    width: 100%;
  }

  
}


.footer_info {
  width: 100vw;
  margin-top: 5rem;
}


.foot_fs {
  /* max-width: 650px; */
  width: 100%;
}

.purple_card {
  width: 100%;
  background-color: #4E0F8A;
  color: white;
  padding: 3rem;
  display: grid;
}

.gray_card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
}

.gray_card2 {
  width: 100%;
  height: 400px;
  padding: 2rem;
  display: grid;
}

.purple_card2 {
  width: 100%;
  background-color: #4E0F8A;
  color: white;
  padding: 3rem;
  display: grid;
}


.footer {
  width: 100vw;
  height: 300px;
  background-image: url('./assets/foot_img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot_info {
  width: 400px;
  background-color: #4E0F8A;
  color: white;
  padding: 2rem;
  display: grid;
}





@media (max-width: 991px) {
  .titles {
    top: 30%;
    left: 20px ;
    font-size: 40px;
  }
  .head_card {
    left: 20px;
    bottom: -100px;
    font-size: 18px;
    padding: 1rem;
    width: 500px;
  }
  .card_girl {
    left: 0%;
  }

  
}

@media (max-width: 768px) {
  
  .titles {
    top: 0;
    left: 0;
    width: 350px;
    font-size: 40px;
  }
  .head_left {
    height: 350px;
  }
  .head_card {
    left: 0;
    font-size: 15px;
    line-height: 25px;
    width: 350px;
  }
  .head_right {
    background-color: transparent;
    width: 100%;
    overflow-x: hidden;
    right: 0;

  }
  .girl {
    object-fit: contain;
  } 

  .sect_1 {
    font-size: 25px;
  }

  .for_width {
    width: 800px !important;
    padding: 0 2rem;
    /* background-color: red; */
  }
  .first {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .foot_info {
    width: 100%;
  }
  .set2_left {
    margin-top: 112%;
  } 
  /* .col-12{
    padding: 0;
  } */
  /* 
  .col-md-6{
    padding: 0;
  }
  .col-md-4 {
    padding: 0;
  } */
  .titles {
    top: 0;
    width: 300px;
    font-size: 30px;
  }
  .head_left {
    height: 300px;
  }
  .head_card {
    font-size: 15px;
    line-height: 20px;
    width: 250px;
  }
  .head_right {
    background-color: transparent;
    overflow-x: hidden;

  }
  .girl {
    object-fit: contain;
  }
  .sec2_bg {
    width: 100%;
    height: 76%;
  }
  .left_col6_card {
    padding: 0;
  }
  .sect2_left_static3  {
    width: 155px;
    margin-right: 0;
  }
  .sect3_right {
    padding-top: 0;
  }
  .footer_info {
    margin-top: 18rem;
  }
  .contact_card {
    padding: 1rem;
  }
  .purple {
    margin: 1rem 0;
  }
  .opa {
    padding: 0;
  }
}


